.icons {
  display: inline-block;
  font-style: normal;

  background-repeat: no-repeat;
  background-image: url('/storage/icons.png');
  background-size: 200px;

  &--info {
    width: 2.2rem;
    height: 2.2rem;
    background-position: 0 0;
  }

  &--prev {
    width: 1.2rem;
    height: 2.4rem;
    background-position-x: -11.38rem;
  }
}

%before-bg {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: 19.35rem;
  }
}

%after-bg {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: 19.35rem;
  }
}

.bg {
  &-before {
    &-clock,
    &-user,
    &-goblet,
    &-plus-circle {
      padding-left: 1.8rem + 1rem;

      &::before {
        background-image: url('/storage/icons.png');
      }
    }

    &-clock {
      @extend %before-bg;

      &::before {
        width: 1.8rem;
        height: 1.8rem;
        background-position-x: -2rem;
      }
    }

    &-user {
      @extend %before-bg;

      &::before {
        width: 2.3rem;
        height: 1.9rem;
        background-position-x: -3.8rem;
      }
    }

    &-goblet {
      @extend %before-bg;

      &.goblet-icon {
        display: inline-block;
        width: 2.4rem;
        height: 2.5rem;
        margin-bottom: 1rem;
      }

      &::before {
        background-size: 21rem;
        width: 2.4rem;
        height: 2.5rem;
        background-position-x: -6.4rem;
      }
    }

    &-plus-circle {
      @extend %before-bg;

      &::before {
        background-size: 20rem;

        width: 2.2rem;
        height: 2.2rem;
        background-position-x: -8.35rem;
      }
    }
  }

  &-after {
    &-chevron-right {
      @extend %after-bg;

      &::after {
        background-size: 20.05rem;

        background-image: url('/storage/icons.png');
        width: 0.8rem;
        height: 1.6rem;
        background-position-x: -10.575rem;
      }
    }
  }
}

.circle-plus-icon {
  display: inline-block;
  margin-bottom: 0.8rem;
  width: 3rem;
  height: 3rem;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='plus-circle' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-plus-circle fa-w-16 fa-fw fa-2x'%3E%3Cpath fill='currentColor' d='M384 250v12c0 6.6-5.4 12-12 12h-98v98c0 6.6-5.4 12-12 12h-12c-6.6 0-12-5.4-12-12v-98h-98c-6.6 0-12-5.4-12-12v-12c0-6.6 5.4-12 12-12h98v-98c0-6.6 5.4-12 12-12h12c6.6 0 12 5.4 12 12v98h98c6.6 0 12 5.4 12 12zm120 6c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-32 0c0-119.9-97.3-216-216-216-119.9 0-216 97.3-216 216 0 119.9 97.3 216 216 216 119.9 0 216-97.3 216-216z' class=''%3E%3C/path%3E%3C/svg%3E");
}
