$colors--green: rgb(15, 99, 68);
$colors--white: rgb(255, 255, 255);

$colors--gray: rgb(85, 85, 85);
$colors--dirty-white: rgb(219, 215, 215);
$colors--black: rgb(51, 51, 51);
$colors--blue: rgb(25, 119, 195);
$colors--purple: rgb(115, 94, 100);
$colors--red: rgb(165, 22, 22);
