@for $i from 1 to 7 {
  h#{$i} {
    margin-bottom: 0;
  }
}

p {
  margin-bottom: 0;
}

%title {
  display: block;
  font-family: $ff-sans-serif;
  font-weight: 400 !important;
}

.title {
  font-size: 1.6rem;

  + * {
    margin-top: 0.6rem;

    &.form-control {
      margin-top: 0.8rem;
    }
  }

  &--sm {
    @extend %title;
    font-size: 1.4rem;

    + * {
      margin-top: 0.6rem;

      &.form-control {
        margin-top: 0.8rem;
      }
    }
  }

  &--xs {
    @extend %title;
    font-size: 1.2rem;

    + * {
      margin-top: 0.6rem;

      &.form-control {
        margin-top: 0.8rem;
      }
    }
  }
}

.text {
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-uppercase {
    text-transform: uppercase !important;
  }

  &-underline {
    text-decoration: underline !important;
  }

  &-color {
    &-gray {
      color: $colors--gray;
    }

    &-blue {
      color: $colors--blue;
    }
  }
}

.font {
  &-weight {
    &-medium {
      font-weight: 500 !important;
    }

    &-light {
      font-weight: 300 !important;
    }
  }

  &-size {
    &-sm {
      font-size: 1.2rem !important;
    }

    &-md {
      font-size: 1.4rem !important;
    }

    &-lg {
      font-size: 1.6rem !important;
    }

    &-xl {
      font-size: 1.8rem !important;
    }

    &-2xl {
      font-size: 2rem !important;
    }

    &-3xl {
      font-size: 2.2rem !important;
    }

    &-4xl {
      font-size: 2.4rem !important;
    }
  }
}

.letter-spacing {
  &-1x {
    letter-spacing: 0.1rem;
  }
}
