.header {
  position: relative;

  &-menu {
    position: relative;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    border-bottom: 1px solid $colors--dirty-white;
    z-index: 1000;
    background-color: $colors--white;

    .icons--prev {
      position: absolute;
      left: 1.6rem;
    }
  }

  &-title {
    font-family: $ff-sans-serif;
    font-size: 1.2rem;
    color: $colors--black;
  }
}
