.form-control {
  @extend %form-control;

  $fcPy: 1.275rem;
  $fcPl: 2rem;

  display: block;
  width: 100%;
  padding-top: $fcPy;
  padding-bottom: $fcPy;
  padding-left: $fcPl;
  border: 1px solid $colors--dirty-white;
  border-radius: 2px;
  background-color: $colors--white;

  @at-root select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='angle-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(100% - 1rem);
  }

  &--inline {
    @extend %form-control;

    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.ls-1 {
  letter-spacing: 0.1rem;
}

.invalid-feedback {
  position: absolute;
  top: 0;
  right: 2.8rem;

  display: none;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: $colors--red;
}

.error-message {
  display: none;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: $colors--red;
}

form {
  &.has-error {

    input,
    select {
      &:not(:valid) {
        border-color: $colors--red;

        +.invalid-feedback {
          display: block;
        }
      }

      &:valid {
        border-color: $colors--green;
      }
    }
  }
}

#inpAddRoomVal {
  position: absolute;
  z-index: -1;
  left: -9999px;
}

.custom-check {
  position: relative;

  input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    left: -9999px;

    +label {
      $bgSize: 2.2125rem;

      position: relative;
      font-family: $ff-sans-serif;
      font-size: 1.4rem;
      padding-left: $bgSize + 1rem;
      user-select: none;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: $bgSize;
        height: $bgSize;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm16 400c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V80c0-8.8 7.2-16 16-16h352c8.8 0 16 7.2 16 16v352z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &:checked {
      +label {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm0 32c8.823 0 16 7.178 16 16v352c0 8.822-7.177 16-16 16H48c-8.822 0-16-7.178-16-16V80c0-8.822 7.178-16 16-16h352m-34.301 98.293l-8.451-8.52c-4.667-4.705-12.265-4.736-16.97-.068l-163.441 162.13-68.976-69.533c-4.667-4.705-12.265-4.736-16.97-.068l-8.52 8.451c-4.705 4.667-4.736 12.265-.068 16.97l85.878 86.572c4.667 4.705 12.265 4.736 16.97.068l180.48-179.032c4.704-4.667 4.735-12.265.068-16.97z'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }
  }

  #chkHaveFoodAllergy {
    ~textarea {
      transition: all 300ms;
      padding: 1rem;
      line-height: 1.37;
    }

    &:not(:checked) {
      ~textarea {
        max-height: 0;
        opacity: 0;
      }
    }
  }

  #chkHaveFoodAllergyAddRoom {
    ~textarea {
      transition: all 300ms;
      padding: 1rem;
      line-height: 1.37;
    }

    &:not(:checked) {
      ~textarea {
        max-height: 0;
        opacity: 0;
      }
    }
  }
}