.form-control {
  @extend %form-control;

  $fcPy: 1.275rem;
  $fcPl: 2rem;

  display: block;
  width: 100%;
  padding-top: $fcPy;
  padding-bottom: $fcPy;
  padding-left: $fcPl;
  border: 1px solid $colors--dirty-white;
  border-radius: 2px;
  background-color: $colors--white;

  &--inline {
    @extend %form-control;

    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.ls-1 {
  letter-spacing: 0.1rem;
}

.invalid-feedback {
  position: absolute;
  top: 0;
  right: 2.8rem;

  display: none;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: $colors--red;
}

form {
  &.has-error {
    input {
      &:not(:valid) {
        border-color: $colors--red;

        + .invalid-feedback {
          display: block;
        }
      }

      &:valid {
        border-color: $colors--green;
      }
    }
  }
}
