html {
  font-size: 62.5%;
}

body {
  font-family: $ff-sans-serif;
  color: rgb(51, 51, 51);
}

.overflow-hidden {
  overflow: hidden !important;
}

$main-gutters: 2.8rem;

main {
  padding-top: $main-gutters;
  padding-bottom: $main-gutters;

  > section {
    + section {
      margin-top: $main-gutters;
    }
  }

  .container {
    > .hidden-area {
      &:not(.is-shown) {
        opacity: 0;
        max-height: 0px;
      }

      &.is-shown {
        margin-top: $main-gutters;
      }

      > .row {
        + .row {
          margin-top: $main-gutters;
        }
      }
    }

    #submitButtonRow {
      margin-top: $main-gutters;
    }

    > .row {
      + .row {
        margin-top: $main-gutters;
      }
    }
  }
}

.d-none {
  display: none !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.op {
  &-05 {
    opacity: 0.5;
  }
}

.mt {
  @for $i from 0 to 5 {
    &-#{$i} {
      margin-top: $i * 0.5rem !important;
    }
  }
}

.border-top {
  border-top: 1px solid rgb(219, 215, 215);
  padding-top: 1.6rem;
}

.d-inline-block {
  display: inline-block !important;
}

.mb-3 {
  margin-bottom: 0.8rem;
}

.p {
  @for $i from 1 to 5 {
    &l-#{$i} {
      padding-left: $i * 0.5rem !important;
    }

    &r-#{$i} {
      padding-right: $i * 0.5rem !important;
    }
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;

  margin-left: -0.5rem;
  margin-right: -0.5rem;

  > [class*='col'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
