html {
  font-size: 62.5%;
}

body {
  font-family: $ff-sans-serif;
  color: rgb(85, 85, 85);
}

.overflow-hidden {
  overflow: hidden !important;
}

$main-gutters: 2.8rem;

main {
  padding-top: $main-gutters;
  padding-bottom: $main-gutters;

  > section {
    + section {
      margin-top: $main-gutters;
    }
  }

  .container {
    > .row {
      + .row {
        margin-top: $main-gutters;
      }
    }
  }
}

.d-none {
  display: none !important;
}

.align-items-center {
  align-items: center !important;
}

.op {
  &-05 {
    opacity: 0.5;
  }
}

.mt {
  @for $i from 0 to 5 {
    &-#{$i} {
      margin-top: $i * 0.5rem;
    }
  }
}
